@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Cairo|Nanum+Gothic|Rubik|Sedgwick+Ave');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

/* 네비게이션 메뉴  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    background-color: #333;
    font-family: 'Rubik', sans-serif;
}

.logo {
    color:white;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 20px;
    font-family: 'Sedgwick Ave', cursive;
}

ul {
    margin-bottom: 0;
}

.nav-links{
    display: flex;
    font-size: 10px;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
    
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

/* 회원가입 */
.join-form{
    margin-top: 30px;
}

.container {
    margin-top: 40px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.check_btn, .regist_btn, .login-btn-primary {
    color: white;
    background-color: #333;
}

.cancel_btn {
    margin-left: 10px;
}


/* 메인화면 슬라이드 */
.theme-mi-slider .nivoSlider{
    position: relative;
}

.theme-mi-slider .nivoSlider a{
    border: 0;
    display: block;
}

.nivo-controlNav{
    display: flex;
    justify-content: center;
}

.theme-mi-slider .nivo-control{
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ccc;
    margin: 3px;
    text-indent: -9999px;
}

.theme-mi-slider .nivo-control:hover{
    background: #333;
}
.theme-mi-slider .active{
    background: #333;
}

.nivo-directionNav a{
    display: block;
    width: 30px;
    height: 30px;

}

.nivo-directionNav .nivo-prevNav{
    background-image: url(../img/circle-left.png);
    background-size: cover;
    text-indent: -9999px;
    left: 20px;
}

.nivo-directionNav .nivo-nextNav{
    background-image: url(../img/circle-right.png);
    background-size: cover;
    text-indent: -9999px;
    right: 20px;
}

/* section1 */

.card {
    border-style: none;
}

.row {
    margin-top: 10px;
}
.section-1 .heading-1 {
    margin-top: 0;
    font-family: 'Black Han Sans', sans-serif;
}

.section-1 .heading-2{
    margin-bottom: 5%;
    font-size: 40px;
}

.section-1 .para-1{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-body{
    text-align: left;
}

.section-1 .card-text, .para-1{
    color: rgba(0, 0, 0, 0.59);

}

.section-1{
    margin-bottom: 3%;
}

.section-1 .card-more a{
    font-family: 'Cairo', sans-serif;
    color: #333;
    text-decoration: underline;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}


/* section5 디자인 */
.section-5 {
    margin-bottom: 25px;
}

.section-5 h5{
    font-family: 'Cairo', sans-serif;

}
/* footer */

.social i{
    color: #333333;
    font-size: 20px;
}


/* detail */

.hashtag {
    color: rgba(0, 0, 0, 0.59);
}

/*  detail-img-slider */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }

  .detail-container{
      text-align: center;
      margin: 0 10%;
      color: #fff;
      margin-top: 40px;
  }

  .detail-content{
      color: #000;
      background-color: #f6f6f6;

  }


  .detail-img{
    margin-left: 30px;
    text-align: left;
    display: flex;
  }
  .detail-img img{
    width: 200px; height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: 30px;
  }

  .detail-text {
      margin-top: 40px;
      margin-right: 30px;
  }