<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <% include ./nav %>

    <div class="container">
        <h4><b>1박 2일 완전정복!!</b></h4>
        <p class="hashtag">#홍콩#먹거리탐방#미드레벨#에스컬레이터</p>

    </div>
    
    <!-- Swiper -->
    <div class="swiper-container" style= "z-index: 1; position: relative">
            <div class="swiper-wrapper">
                    <% for(let post of detailList) { %>
                    <div class="swiper-slide"><img src="<%= post.place_image_url %>"></div>
                    <% } %>
            </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <div class="detail-container">
        <h4 style="background-color: #333; padding: 10px; margin-bottom: 0;">DETAIL</h4>
        <div class="detail-content">
            <% for(let post of detailList) { %>
            <div class="detail-img">
                <img src="<%= post.place_image_url %>" alt="">
                <div class="detail-text">
                    <h6 style="color:#ba000c; text-decoration: underline;"><b><%= post.place_lat %></b></h6>
                    <h5><b><%= post.place_name %></b></h5>
                    <p><%= post.place_content %></p>
                    <p class="card-more"><a href="/static/template/location.html"><span><i class="far fa-arrow-alt-circle-right"></i></span>ReadMore</a></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div class="detail-container">
        <h4 style="background-color: #333; padding: 10px; margin-bottom: 0;">LOCATION</h4>
        <div id="map" style="width:100%; height: 400px; text-align: center; "></div>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC00xmIgXfSjnUT8SVK07wPJJBqcT8AUvk&callback=initMap">
        </script>
         <script>
            // Initialize and add the map
            function initMap() {
              // The location of Uluru
              var uluru = {lat: -25.344, lng: 131.036};
              // The map, centered at Uluru
              var map = new google.maps.Map(
                  document.getElementById('map'), {zoom: 4, center: uluru});
              // The marker, positioned at Uluru
              var marker = new google.maps.Marker({position: uluru, map: map});
            }
                </script>
    </div>

    <div class="detail-container" id="tableName">
            <h4 style="background-color: #333; padding: 10px; margin-bottom: 0;">REVIEW</h4>
            <div class="review-content">
                <div class="review-img">
                    <img src="/static/img/non_user.png" alt=""  style="margin-top: 15px;">
                    <div class="review-text">
                            <div class="review-header" >
                                    <div class="review-user" style="margin-top: 15px;">
                                        <p><b>철수(cjftn)</b> | 2018-12-01</p>
                                    </div>
                                </div>
                        <p>너무 좋은 경험이었습니다~</p>
                    </div>
                </div>
                <hr>
            </div>

            <form id="review-form" name="review-form" class="review-form">
                <textarea name="comment_review" id="comment_review"></textarea>
            </form>

            <input type="submit" class="btn login-btn-primary form-control" onclick="reviewBtnFunction();" value="리뷰등록하기">
    
        </div>

    <% include ./footer %>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script>
        console.log(location.pathname)
        var path = location.pathname;
        var cutPath = '';
        for(var i=1 ; i < path.length ; i++) {
            console.log(path[i])
            cutPath += path[i];
        }
        console.log(cutPath.indexOf('/'))
        var tableId = '';
        for(var y = cutPath.indexOf('/') + 1 ; y < cutPath.length ; y++) {
            tableId += cutPath[y];
        }
        console.log(tableId);

    
        var reviewBtnFunction = function(){
         
            var comment_review = $('#comment_review').val();

            if ($("#comment_review").val() == "") {
                alert("리뷰를 등록해주세요.");
                $("#comment_review").focus();

            } else{
                //console.log(comment_review);
                alert("리뷰가 등록되었습니다.");
            }
            
            console.log(location.origin + 'api/' + tableId,{
                comment_review : $('#comment_review').val(),
                table_name : $('#tableName').val()}  )
            $.post(location.origin + '/api/review/' + tableId,{
                comment_review : $('#comment_review').val(),
                table_name : 'detail'   
            }, function(res){
               console.log(res);
            });
           

        }

        // var a = '<div class="review-content">' +
        //         '<div class="review-img">' +
        //             <img src="/static/img/non_user.png" alt=""  style="margin-top: 15px;">
        //             <div class="review-text">
        //                     <div class="review-header" >
        //                             <div class="review-user" style="margin-top: 15px;">
        //                                 <p><b>철수(cjftn)</b> | 2018-12-01</p>
        //                             </div>
        //                         </div>
        //                 <p>너무 좋은 경험이었습니다~</p>
        //             </div>
        //         </div>
        //         <hr>
        //     </div>')

    </script>
    

    <!-- Swiper JS -->
    <script src="/static/js/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
</body>

</html>