<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        function initialize() {
            var mapLocation = new google.maps.LatLng('22.283858', '114.155140'); // 지도에서 가운데로 위치할 위도와 경도
            var markLocation = new google.maps.LatLng('22.283858', '114.155140'); // 마커가 위치할 위도와 경도

            var mapOptions = {
                center: mapLocation, // 지도에서 가운데로 위치할 위도와 경도(변수)
                zoom: 18, // 지도 zoom단계
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), // id: map-canvas, body에 있는 div태그의 id와 같아야 함
                mapOptions);

            var size_x = 60; // 마커로 사용할 이미지의 가로 크기
            var size_y = 60; // 마커로 사용할 이미지의 세로 크기

            // 마커로 사용할 이미지 주소
            var image = new google.maps.MarkerImage('http://www.larva.re.kr/home/img/boximage3.png',
                new google.maps.Size(size_x, size_y),
                '',
                '',
                new google.maps.Size(size_x, size_y));

            var marker;
            marker = new google.maps.Marker({
                position: markLocation, // 마커가 위치할 위도와 경도(변수)
                map: map,
                icon: image, // 마커로 사용할 이미지(변수)
                info:'미드레벨 에스컬레이터',//             info: '말풍선 안에 들어갈 내용',
                title: '미드레벨 에스컬레이터' // 마커에 마우스 포인트를 갖다댔을 때 뜨는 타이틀
            });

            var content = "미드레벨 에스컬레이터"; // 말풍선 안에 들어갈 내용

            // 마커를 클릭했을 때의 이벤트. 말풍선
            var infowindow = new google.maps.InfoWindow({ content: content });

            google.maps.event.addListener(marker, "click", function () {
                infowindow.open(map, marker);
            });



        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>

<body>

    <% include ./nav %>

    <div class="container">
        <h4><b>1박 2일 완전정복!!</b></h4>
        <p class="hashtag">#홍콩#먹거리탐방#미드레벨#에스컬레이터</p>

    </div>
    
    <!-- Swiper -->
    <div class="swiper-container">
            <div class="swiper-wrapper">
                    <% for(let post of detailList) { %>
                    <div class="swiper-slide"><img src="<%= post.place_image_url %>"></div>
                    <% } %>
            </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <div class="detail-container">
        <h4 style="background-color: #333; padding: 10px; margin-bottom: 0;">DETAIL</h4>
        <div class="detail-content">
            <% for(let post of detailList) { %>
            <div class="detail-img">
                <img src="<%= post.place_image_url %>" alt="">
                <div class="detail-text">
                    <h6 style="color:#ba000c; text-decoration: underline;"><b><%= post.place_lat %></b></h6>
                    <h5><b><%= post.place_name %></b></h5>
                    <p><%= post.place_content %></p>
                    <p class="card-more"><a href="/static/template/location.html"><span><i class="far fa-arrow-alt-circle-right"></i></span>ReadMore</a></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div class="detail-container">
        <h4 style="background-color: #333; padding: 10px; margin-bottom: 0;">LOCATION</h4>
        <div id="map-canvas" style="width:100%; height: 400px; text-align: center; "></div>


    </div>

    <div class="detail-container">
            <h4 style="background-color: #333; padding: 10px; margin-bottom: 0;">REVIEW</h4>
            <div class="review-content">
                <div class="review-img">
                    <img src="/static/img/non_user.png" alt=""  style="margin-top: 15px;">
                    <div class="review-text">
                            <div class="review-header" >
                                    <div class="review-user" style="margin-top: 15px;">
                                        <p><b>철수(cjftn)</b> | 2018-12-01</p>
                                    </div>
                                </div>
                        <p>너무 좋은 경험이었습니다~</p>
                    </div>
                </div>
                <hr>
            </div>

            <form id="review-form" name="review-form" class="review-form">
                <textarea name="comment_review" id="comment_review"></textarea>
            </form>

            <input type="submit" class="btn login-btn-primary form-control" onclick="reviewBtnFunction();" value="리뷰등록하기">
    
        </div>

    <% include ./footer %>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script>
        console.log(location.pathname)
        var path = location.pathname;
        var cutPath = '';
        for(var i=1 ; i < path.length ; i++) {
            console.log(path[i])
            cutPath += path[i];
        }
        console.log(cutPath.indexOf('/'))
        var tableId = '';
        for(var y = cutPath.indexOf('/') + 1 ; y < cutPath.length ; y++) {
            tableId += cutPath[y];
        }
        console.log(tableId);

    
        var reviewBtnFunction = function(){
         
            var comment_review = $('#comment_review').val();

            if ($("#comment_review").val() == "") {
                alert("리뷰를 등록해주세요.");
                $("#comment_review").focus();

            } else{
                console.log(comment_review);
            }

            // $.post(location.origin + 'api/:tableId',{
            //     comment_review : $('#comment_review').val(),
            //     userID: $('#userID').val()
            // },function(res){
            //     if(res){
            //         alert("리뷰가 등록되었습니다.");
            //     }
            // });
           

        }

    

        // var reviewBtnFunction = function(){

        //     $.post(location.origin + '/api/:tableId', {
        //         userID: $('#userID').val(),
        //         userPassword : $('#userPassword').val()
        //     }, function (res) {
        //        //console.log(res)
        //        if(res){

        //            alert("로그인에 성공하였습니다.");
        //            location.href="/";

        //        } else{
        //            alert("아이디/비밀번호를 확인해주세요.");
        //            $("#userID").focus();
        //        }

        //        $("#userID").focus();

        //     });

        



    </script>
    

    <!-- Swiper JS -->
    <script src="/static/js/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
</body>

</html>