<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nivo-slider.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery.nivo.slider.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body>
        <footer>
                <!-- section5 시작 부분 -->
                <div class="section-5 text-center">
                    <hr>
                    <div class="social">
                        <div class="d-flex flex-row justify-content-center">
                            <i class="fab fa-facebook-f m-2"></i>
                            <i class="fab fa-twitter m-2"></i>
                            <i class="fab fa-instagram m-2"></i>
                            <i class="fab fa-youtube m-2"></i>
                        </div>
                    </div>
                    <h5 style="color:#333333;">HK TRAVEL GUIDE &copy;</h5>
        
                </div>
                <!-- section5 마지막 부분 -->
            </footer>
</body>
</html>