<!DOCTYPE html>
<html lang="ko">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nivo-slider.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery.nivo.slider.js"></script>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#slider').nivoSlider();
        });
    </script>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- <script>
        var a = '<% theme_list %>';
        var b = '<% cource_list %>';
        console.log(a);
        console.log(b);
    </script> -->

    <% include ./nav %>

    <!-- <% for(let post of theme_list) { %>
    <tr>
        <td><%= post.theme_id %></td>
        <td><%= post.theme_name %></td>
        <td><%= post.theme_image_url %></td>
        <td><%= post.theme_hash_tag %></td>
    </tr>
    <% } %> -->

    

    <div class="slider-wrapper theme-mi-slider">
        <div id="slider" class="nivoSlider">
            <img src="/static/img/slider1.jpg" alt="" title="#htmlcaption1">
            <img src="/static/img/slider2.jpg" alt="" title="#htmlcaption2">
        </div>
        <!-- <div id="htmlcaption1" class="nivo-html-caption">
            <h3 style="margin-left: 40px;"><a href="/static/template/joinUs.html">마카오 여행 꿀 TIP!</a></h3>
        </div>
        <div id="htmlcaption2" class="nivo-html-caption">
            <h3 style="margin-left: 40px;"><a href="/static/template/joinUs.html">홍콩여행지2 확인.</a></h3>
        </div> -->
    </div>


    <!-- section1 시작 부분 -->
    <div class="section-1">
        <div class="container text-center">
            <h1 class="heading-1">홍콩 추천 여행코스</h1>

            <div class="row justify-content-center text-center">
                <% for(let post of cource_list) { %>
                    <div class="col-md-3">
                            <div class="card" style="width:15rem;">
                                <img src="<%= post.cource_image_url %>" class="card-img-top" alt="image1">
                                <div class="card-body">
                                    <p class="card-title"><b><%= post.cource_name %></b></p>
                                    <p class="card-text"><%= post.cource_hash_tag %></p>
                                    <p class="card-more"><a href="/detail/<%= post.cource_id %>"><span><i class="far fa-arrow-alt-circle-right"></i></span>ReadMore</a></p>
                                </div>
                            </div>
                        </div>

                <% } %>
            </div>
        </div>
    </div>
    <!-- section1 마지막 부분 -->
    
    <!-- section1 시작 부분 -->
    <div class="section-1">
        <div class="container text-center">
            <h1 class="heading-1">홍콩 추천 테마</h1>

            <div class="row justify-content-center text-center">
                <% for(let post of theme_list) { %>
                <div class="col-md-3">
                    <div class="card" style="width:15rem;">
                        <img src="<%= post.theme_image_url %>" class="card-img-top" alt="image1">
                        <div class="card-body">
                            <p class="card-title"><b><%= post.theme_name %></b></p>
                            <p class="card-text"><%= post.theme_hash_tag %></p>
                            <p class="card-more"><a href="/detail/<%= post.theme_id %>"><span><i class="far fa-arrow-alt-circle-right"></i></span>ReadMore</a></p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <% include ./footer.ejs %>


</body>

</html>