<!DOCTYPE html>
<html lang="ko">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <div class="container">
        <h4 style="margin-bottom:30px"><b>LOGIN</b></h4>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="login-forms">
            <form method="post" name="login-form" class="login-form" action="location.origin">
                <div class="form-group">
                    <input type="text" class="form-control" name="userID" placeholder="Enter ID" maxlength="20" id="userID" />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="userPassword" placeholder="Enter PASSWORD"
                        maxlength="20" id="userPassword"/>
                </div>
            </form>
        </div>

        <div class="login-btn" style="display: flex">
            <input type="submit" class="btn login-btn-primary form-control" value="LOGIN" onclick="loginBtnFunction();">
            <input type="button" class="btn login-btn-primary form-control" value="Join US" style="background:#ccc; color: #000; margin-left: 20px;" onclick="location.href='join-us'">
        </div>

    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script>
        document.getElementsByName('login-form').action = location.origin + '/api/login';
        console.log(document.getElementsByName('login-form'))

        var loginBtnFunction = function(){

            var userID = $('#userID').val();
            var userPassword = $('#userPassword').val();

            if ($("#userID").val() == "") {
                alert("아이디를 입력해주세요.");
                $("#userID").focus();
                return false;

            }

            else if ($("#userPassword").val() == "") {
                alert("비밀번호를 입력해주세요.");
                $("#userPassword").focus();
                return false;

            }

             $.post(location.origin + '/api/login', {
                userID: $('#userID').val(),
                userPassword : $('#userPassword').val()
            }, function (res) {
               //console.log(res)
               if(res){

                   alert("로그인에 성공하였습니다.");
                   location.href="/";

               } else{
                   alert("아이디/비밀번호를 확인해주세요.");
                   $("#userID").focus();
               }

               $("#userID").focus();

            });
            
        }
    
    
    </script>
</body>

</html>