<!DOCTYPE html>
<html lang="ko">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <div w3-include-html="nav.html"></div>
    <script>
            w3.includeHTML();
    </script>


    <div class="container">
        <h4 style="margin-bottom:30px"><b>LOGIN</b></h4>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="login-forms">
            <form method="post" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="userID" placeholder="Enter ID" maxlength="20" />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="userPassword" placeholder="Enter PASSWORD"
                        maxlength="20" />
                </div>
            </form>
        </div>

        <div class="login-btn" style="display: flex">
            <input type="submit" class="btn login-btn-primary form-control" value="LOGIN">
            <input type="button" class="btn login-btn-primary form-control" value="Join US" style="background:#ccc; color: #000; margin-left: 20px;" onclick="location.href='joinUs.html'">
        </div>

    </div>

</body>

</html>